* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.hidden {
    display: none;
}

/* ================================ header styles =========================================== */
header {

    background-color: #1A0B2E;
    border: 1px solid #412567;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.brand,
.navbar,
.buttons {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(to right, #f7e83f67, #fb09b266, #9100f879);
}

.menu {
    display: none;
}

/* ============================================== banner styles ==================================== */
#banner {
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container {
    max-width: 1200px;
    margin: 0 auto;
}

.banner-image {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 20%;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.first {
    width: 100%;
    display: block;
}

.second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.banner-content {
    text-align: center;
    color: white;
}

.banner-content h1 {
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 3.5rem;
    font-weight: 800;
}

.banner-content p {
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}

.banner-content .buttons {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.buttons .btc {
    background-color: transparent;
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius: 20px;
    color: #00FF88;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.buttons .btc:hover {
    background-color: #71747263;
}

.new-button p {
    background-color: #00FF88;
    color: #1A0B2E;
    font-weight: 500;
    padding: 2.5% 6.5%;
    position: absolute;
    top: 10%;
    right: 5%;
    border-radius: 20px;
    filter: drop-shadow(0px 2px 15px rgba(0, 255, 136, 0.5));
    transform: scale(1);
    animation-name: pulse-scale;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes pulse-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

/* ========================== about styles ============================================== */
#about {
    background-color: #1A0B2E;
    color: white;
}

#about .about-content,
#about .about-container {
    max-width: 1200px;
    margin: 0 auto;
}

.about-content h1,
#choose h1,
#videos h1 {
    padding-top: 5%;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}

.about-content p {
    padding-top: 1.6%;
    text-align: center;
    line-height: 170%;
}

.about-container {
    padding: 10% 5% 12%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8%;
    text-align: center;
}

.about-container h3 {
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1.6%;
}

hr {
    border: .2px solid rgba(255, 255, 255, 0.064);
    width: 80%;
    margin: 0 auto;
}

.pro {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========================================== choose section ============================= */
#choose {
    background-color: #230E3D;
    color: white;
}

#choose h1,
.choose-container {
    max-width: 1200px;
    margin: 0 auto;
}

.choose-container {
    padding-top: 4%;
    padding-bottom: 12%;
    display: grid;
    gap: 3%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.choose {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 4%;
}

.one {
    grid-column: span 1;
    grid-row: span 2;
    padding: 100px 40px;
}

.two,
.three,
.four {
    grid-column: span 2;
    grid-row: span 1;
    padding: 40px;
}

.five {
    padding: 40px;
}

.choose img {
    margin-bottom: 16px;
}

.choose h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.choose p {
    line-height: 150%;
}

/* ================================= videos section ========================================== */
#videos {
    background-color: #1A0B2E;
    color: white;
    padding: 5%;
}

#videos h1,
.video-container {
    max-width: 1200px;
    margin: 0 auto;
}

.video-container {
    padding-top: 4%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.video {
    background-color: #250D44;
    border-radius: 4%;
    max-height: 90%;
}

.video h3 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 12px 24px;
}

.video .par {
    line-height: 150%;
    padding: 12px 24px;
}

iframe {
    width: 100%;
    max-height: 50%;
    border-radius: 5% 5% 0% 0%;
}

.time {
    display: flex;
    padding: 12px 24px 0px;
    align-items: center;
    gap: 8px;
    color: #00FF88;
    font-weight: 600;
}

.time img {
    width: 5%;
    height: 5%;
}

.time .pr {
    padding: 0;
}

.host {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 8px;
    margin-top: 5%;
}

.host h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
}

.host p {
    line-height: 150%;
    margin-bottom: 12px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icons img {
    width: 15px;
    height: 15px;
}

.icons .one {
    border: 1px solid #533C72;
    padding: 8px 10px;
    border-radius: 50%;
}

/* ================================ footer styles ===================================== */
footer {
    background-image: url("./assets/footer-bg.png");
    background-size: 100%;
    color: white;
    padding: 10% 0 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

footer .flex {
    display: flex;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.spotify,
.apple,
.youtube,
.twitter {
    display: flex;
    align-items: center;
    gap: 8px;
}

footer p {
    text-align: center;
}

/* ================================= small devices ============================================ */
@media screen and (max-width: 576px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
        width: 100%;
    }

    .brand {
        display: flex;
        margin-left: 0;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .navbar,
    .buttons {
        display: none;
    }

    .brand img {
        width: 50%;
    }

    #banner {
        background-image: url("./assets/Image.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-content h1 {
        margin-top: 20px;
        padding: 0 10px;
        font-size: 2rem;
        font-weight: 800;
    }

    .banner-content p {
        font-size: 1rem;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .image-wrapper {
        position: relative;
        display: inline-block;
    }

    .first {
        width: 180px;
    }

    .buttons .btc {
        padding: 8px 12px;
    }

    .banner-content .buttons .btn {
        padding: 8px 12px;
    }

    .about-content h1,
    #choose h1,
    #videos h1 {
        padding: 5% 5% 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }

    .about-content p {
        text-align: center;
        line-height: 170%;
        padding: 5% 5%;
    }

    .about-container {
        grid-template-columns: repeat(2, 2fr);
        row-gap: 30px;
    }

    .about h3 {
        font-size: 2rem;
    }

    #choose {
        padding-top: 5%;
    }

    .choose-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 5% 5% 20%;
    }

    .choose {
        grid-column: span 1;
        grid-row: span 1;
        width: 100%;
        padding: 5%;
    }

    .choose .five {
        padding-bottom: 5%;
    }

    .video-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1px;
    }

    .video {
        background-color: #250D44;
        border-radius: 4%;
        height: 600px;
    }

    .video h3 {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 10px 24px;
    }

    .video p {
        line-height: 150%;
        padding: 0px 24px 10px;
    }

    .host {
        flex-direction: column;
        text-align: center;
    }

    .icons {
        justify-content: center;
    }

    .icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;

        justify-items: center;
        gap: 20px;
        padding: 3% 0;
    }

    footer {
        background-image: url("./assets/footer\ \(2\).png");
    }
}

/* ===================================== laptop devices =================================== */
@media screen and (min-width: 577px) and (max-width: 991px) {
    header {
        padding: 30px 0;
    }

    nav ul {
        list-style: none;
        display: flex;
        gap: 22px;
    }

    .btn {
        background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
        color: white;
        padding: 8px 12px;
        border: none;
        border-radius: 20px;
        font-weight: 600;
        display: flex;
        gap: 5px;
        align-items: center;
        cursor: pointer;
    }

    .brand img {
        width: 60%;
    }

    .menu {
        display: none;
    }

    #banner {
        background-image: url("./assets/hero-bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner-content h1 {
        margin-top: 10%;
        padding: 0 10px;
        font-size: 2rem;
        font-weight: 800;
    }

    .banner-content p {
        font-size: 1rem;
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .image-wrapper {
        position: relative;
        display: inline-block;
    }

    .first {
        width: 100%;
        padding-top: 0;
    }

    .buttons .btc {
        padding: 8px 12px;
    }

    .banner-content .buttons .btn {
        padding: 8px 12px;
    }

    .about-content h1,
    #choose h1,
    #videos h1 {
        padding: 5% 5% 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
    }

    .about-content p {
        text-align: center;
        line-height: 170%;
        padding: 5% 5%;
    }

    .about-container {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 30px;
    }

    .about-content h3 {
        font-size: 1rem;
    }

    .about-content p {
        font-size: .7rem;
    }

    .about h3 {
        font-size: 2rem;
    }

    .about p {
        font-size: .7rem;
    }

    .choose-container {
        max-width: 991px;
        margin: 0 auto;
        padding: 2% 5% 10%;
        display: grid;
        gap: 3%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .choose {
        background-color: rgba(53, 17, 101, 0.4);
        border-radius: 2%;
    }

    .one {
        grid-column: span 1;
        grid-row: span 2;
        padding: 80px 20px;
    }

    .two,
    .three,
    .four {
        grid-column: span 2;
        grid-row: span 1;
        padding: 20px;
    }

    .five {
        padding: 20px;
    }

    .choose img {
        margin-bottom: 10px;
    }

    .choose h3 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .choose p {
        line-height: 130%;
        font-size: .7rem;
    }

    .video-container {
        padding-top: 4%;
        margin-bottom: -30%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3%;
    }

    .video {
        background-color: #250D44;
        border-radius: 4%;
        max-height: 60%;
    }

    .video h3 {
        font-size: 1rem;
        font-weight: 700;
        padding: 10px 20px 2px;
    }

    .video .par {
        line-height: 150%;
        padding: 10px 20px 2px;
        font-size: .7rem;
    }

    iframe {
        width: 100%;
        max-height: 40%;
        border-radius: 5% 5% 0% 0%;
    }

    .time {
        display: flex;
        padding: 12px 24px 0px;
        align-items: center;
        gap: 8px;
        color: #00FF88;
        font-weight: 600;
        font-size: .7rem;
    }

    .time img {
        width: 5%;
        height: 5%;
    }

    .time .pr {
        padding: 0;
    }

    .host {
        gap: 20px;
        padding: 20px;
    }

    .host h3 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .host p {
        line-height: 150%;
        margin-bottom: 12px;
        font-size: .7rem;
    }

    footer {
        background-image: url("./assets/footer-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

/* ==================================== above 992 px ======================================= */
@media screen and (min-width: 992px) {
    header {
        width: 100%;
        padding: 15px 30px;
    }

    .choose-container {
        padding: 5% 2%;
    }
}