*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.hidden{
    display: none;
}
/* ================================ header styles =========================================== */
header{
    
    background-color: #1A0B2E;
    border: 1px solid #412567;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.brand, .navbar, .buttons{
    max-width: 1200px;
    margin: 0 auto;
}
.btn{
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
}
/* ============================================== banner styles ==================================== */
#banner{
    background-image: url("./assets/hero-bg.png");
    background-size: 100%;
}
.banner-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
    
}

.first{
    position: relative;
}
.second{
    position: absolute;
}
.banner-content{
    text-align: center;
    color: white;
}
.banner-content h1{
    margin-top: 40px;
    margin-bottom: 8px;
    font-size: 3.5rem;
    font-weight: 800;
}
.banner-content p{
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}
.banner-content .buttons{
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.buttons .btc{
    background-color: transparent;
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius: 20px;
    color: #00FF88;
    font-weight: 600;
    display: flex;
    gap: 5px;
    align-items: center;
}
.new-button p{
    background-color: #00FF88;
    color: #1A0B2E;
    font-weight: 500;
    padding: .5% 1.5%;
    position: absolute;
    top: 30%;
    left: 54%;
    border-radius: 20px;
    filter: drop-shadow(0px 2px 15px rgba(0, 255, 136, 0.5));
    transform: scale(1);
    animation-name: pulse-scale;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes pulse-scale{
    0%{
        transform: scale(1);
    }
    50%{
       transform: scale(1.3); 
    }
    100%{
        transform: scale(1);
    }
}
/* ========================== about styles ============================================== */
#about{
    background-color: #1A0B2E;
    color: white;
}
#about .about-content, #about .about-container{
    max-width: 1200px;
    margin: 0 auto;
}
.about-content h1, #choose h1, #videos h1{
    padding-top: 5%;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}
.about-content p{
    padding-top: 1.6%;
    text-align: center;
    line-height: 170%;
}
.about-container{
    padding-top: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8%;
    text-align: center;
    padding-bottom: 12%;
}
.about-container h3{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1.6%;
}
/* ========================================== choose section ============================= */
#choose{
    background-color: #230E3D;
    color: white;
}
#choose h1, .choose-container{
    max-width: 1200px;
    margin: 0 auto;
}
.choose-container{
    padding-top: 4%;
    padding-bottom: 12%;
    display: grid;
    gap: 3%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.choose{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 4%;
}
.one{
    grid-column: span 1;
    grid-row: span 2;
    padding: 100px 40px;
}
.two, .three, .four{
    grid-column: span 2;
    grid-row: span 1;  
    padding: 40px;
}
.five{
    padding: 40px;
}
.choose img{
    margin-bottom: 16px;
}
.choose h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.choose p{
    line-height: 150%;
}
/* ================================= videos section ========================================== */
#videos{
    background-color: #1A0B2E;
    color: white;
    padding: 5%;
}
#videos h1, .video-container{
    max-width: 1200px;
    margin: 0 auto;
}
.video-container{
    padding-top: 4%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.video{
    background-color: #250D44;
    border-radius: 4%;
    max-height: 90%;
}
.video h3{
    font-size: 1.5rem;
    font-weight: 700;
    padding: 12px 24px;
}
.video p {
    line-height: 150%;
    padding: 12px 24px;
}
iframe{
    width: 100%;
    max-height: 50%;
    border-radius: 5% 5% 0% 0%;
}
.time{
    display: flex;
    padding: 12px 24px 0px;
    align-items: center;
    color: #00FF88;
    font-weight: 600;
}
.time img{
    width: 5%;
    height: 5%;
}
.host{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 8px;
    margin-top: 5%;
}
.host h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 12px;
}
.host p{
    line-height: 150%;
    margin-bottom: 12px;
}
.icons{
    display: flex;
    gap: 8px;
}
.icons img{
    width: 50px;
    height: 50px;
    border: 1px solid #533C72;
    padding: 10px;
    border-radius: 50%;  
}
/* ================================ footer styles ===================================== */
footer{
    background-image: url("./assets/footer-bg.png");
    background-size: 100%;
    color: white;
    padding: 10% 0 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
footer .flex{
    display: flex;
    justify-content: center;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.spotify, .apple, .youtube, .twitter{
    display: flex;
    align-items: center;
    gap: 8px;
}